html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: sans-serif;
}

.public-chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 12px;
  overflow: hidden;
}

.public-chat-container .chat-window-container {
    flex-grow: 1;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #5A47A5;
    font-weight: 500;
}